body {
    background-color: #BBE1FA;
}


h1 {
    color: #1B262C;
}

h3 {
    color: #0F4C75;
}

h4 {
    color: #3282B8;
}

hr {
    background-color: transparent;
    border-color: grey;
    border-style: dotted none none;
    border-width: 05px;
    height: 20px;
    width: 03%;
}

th {
    color: #3282B8;
}